* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #efefef;
  position: relative;
  font-family: "Raleway", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header {
  font-family: "Roboto Slab", serif;
}
nav {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 1px 5px 0px #7d7d7d;
  -moz-box-shadow: 0px 1px 5px 0px #7d7d7d;
  box-shadow: 0px 1px 5px 0px #7d7d7d;
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container .menu-item {
  text-decoration: none;
  color: #515151;
  font-size: 1.2rem;
  padding: 1rem;
  font-family: "Roboto Slab", serif;
}
nav .nav-container .home {
  border-bottom: 3px solid #ff3b3f;
}
nav .nav-container .cart {
  background-color: #ff3b3f;
  color: #f7f7f7;
  border-bottom: 3px solid #ff3b3f;
  transition: all 0.1s;
}
nav .nav-container .cart:hover {
  background-color: #ff080d;
  border-color: #ff080d;
}
nav .nav-container .logo img {
  height: 2.5rem;
}
#sale {
  box-shadow: 0px 1px 5px 0px #646464;
  background-color: #f7f7f7;
  margin-top: 2rem;
  display: flex;
  padding: 2rem;
}
#sale > div {
  flex: 1;
}
#sale .sale-item {
  margin-right: 2rem;
  background-image: url("/images/items/Abra.gif");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  height: 25rem;
  position: relative;
}
#sale .sale-item .sale-item-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-size: 1.1rem;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 0.3rem;
}
#sale .sale-item-details {
  position: relative;
  top: 1rem;
}
#sale .sale-item-details .details {
  list-style: none;
  margin-left: 0.5rem;
}
#sale .sale-item-details .details li {
  margin-bottom: 0.5rem;
}
#sale .sale-item-details .sale-item-name {
  color: #ff3b3f;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#sale .sale-item-details .item-of-day {
  background-color: #ff3b3f;
  padding: 0.5rem;
  color: #f7f7f7;
  font-size: 1.5rem;
}
#catalog {
  background-color: #f7f7f7;
  margin-top: 2rem;
}
#catalog #catalog-container {
  display: flex;
  margin-top: 2rem;
}
#catalog #catalog-container #filters {
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  box-shadow: 0px 1px 5px 0px #646464;
  padding: 0 1rem 2rem 1rem;
  align-self: start;
  min-width: 15%;
}
#catalog #catalog-container #filters h4 {
  color: #515151;
  font-size: 1.1rem;
  border-bottom: 1px solid #515151;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}
#catalog #catalog-container #filters > div {
  margin-top: 1rem;
}
#catalog #catalog-container #filters #filter-prices .slider-label {
  margin-top: 0.75rem;
}
#catalog #catalog-container #filters > a {
  margin-top: 2rem;
  align-self: center;
  border: 0.5px solid #f7f7f7;
}
#catalog > h1 {
  margin: 2rem;
  border-bottom: 2px solid #ff3b3f;
  padding: 1rem;
}
#catalog-items {
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
}
#catalog-items #sorts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 2%;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
#catalog-items #sorts #filter-types {
  display: flex;
  flex-wrap: wrap;
}
#catalog-items #sorts #filter-types span {
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0.3rem 1rem;
  border-radius: 7px;
  font-size: 0.9rem;
  background-color: #f7f7f7;
  cursor: pointer;
}
#catalog-items #sorts #sort-options select {
  padding: 0.5rem 0.5rem;
}
#catalog-items #items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
#catalog-items #items-container .item {
  padding: 1rem;
  margin: 0 0 1rem 2%;
  box-shadow: 0px 1px 5px 0px #646464;
  overflow: hidden;
  transition: all 0.2s ease-in;
  position: relative;
  flex: 0 0 23%;
}
#catalog-items #items-container .item:after {
  content: "Details";
  text-align: center;
  position: absolute;
  border: 1px solid #f7f7f7;
  padding: 0.5rem 1rem;
  color: #f7f7f7;
  transition: all 0.2s ease-in;
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
  border-radius: 3px;
  z-index: 3;
  font-size: 1rem;
}
#catalog-items #items-container .item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: all 0.2s ease-in;
}
#catalog-items #items-container .item:hover::before {
  background-color: rgba(50, 50, 50, 0.5);
}
#catalog-items #items-container .item:hover {
  cursor: pointer;
}
#catalog-items #items-container .item:hover::after {
  bottom: 50%;
  transform: translate(-50%, 50%);
}
#catalog-items #items-container .item .item-image {
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  height: 10rem;
  position: relative;
}
#catalog-items #items-container .item .item-details {
  position: relative;
}
#catalog-items #items-container .item .item-details .desc {
  font-size: 0.9rem;
}
#catalog-items #pagination {
  margin-left: 2%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#catalog-items #pagination .pagination-link {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
  background-color: #ff3b3f;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 3vw;
  height: 3vw;
}
#catalog-items #pagination .pagination-number {
  font-family: "Roboto Slab", serif;
}
#catalog-items #pagination .pagination-arrow {
  font-size: 2rem;
  background-color: #f7f7f7;
  color: #ff3b3f;
}
#catalog-items #pagination .pagination-disabled {
  color: rgba(0, 0, 0, 0.4);
  cursor: initial;
}
#catalog-items #pagination .pagination-active {
  box-shadow: 0px 1px 5px 0px #646464;
  color: #ff3b3f;
  background-color: #f7f7f7;
}
.modal {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
#item-details-modal {
  position: fixed;
  width: 75vw;
  height: 70vh;
  box-shadow: 0px 1px 5px 0px #646464;
  bottom: 50%;
  padding: 1rem;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #f7f7f7;
  z-index: 99;
  display: flex;
}
#item-details-modal .item {
  flex: 1 0 33%;
  margin-right: 1rem;
}
#item-details-modal .item .item-image {
  background-image: url("/images/sale-item.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  height: 70%;
}
#item-details-modal .item .desc {
  font-size: 0.9rem;
}
#item-details-modal .full-details {
  flex: 1 0 60%;
}
.slider {
  display: flex;
  justify-content: baseline;
}
.slider > span {
  margin-right: 5%;
  font-family: "Roboto Slab", serif;
  width: 25%;
}
.slider > input[type="range"] {
  width: 70%;
}
.button-disabled {
  background-color: rgba(0, 0, 0, 0.4) !important;
  cursor: initial;
}
.button {
  padding: 0.3rem 2.5rem;
  background-color: #ff3b3f;
  color: #f7f7f7;
  text-decoration: none;
  transition: all 0.1s;
}
.button:hover {
  background-color: #ff080d;
}
